.elementor-1182 .elementor-element.elementor-element-ef9f480 {text-align: center;}
.elementor-1182 .elementor-element.elementor-element-ef9f480 .elementor-heading-title {color: #000;}
.elementor-1182 .elementor-element.elementor-element-b1ce076 {text-align: center;}
.elementor-1182 .elementor-element.elementor-element-b1ce076 .elementor-heading-title {color: #0034ff;}