.elementor-74 .elementor-element.elementor-element-d05bb28 {text-align: center;}
.elementor-74 .elementor-element.elementor-element-d05bb28.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-1b65758 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-9d88837:not(.elementor-motion-effects-element-type-background), .elementor-74 .elementor-element.elementor-element-9d88837>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-9d88837 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-74 .elementor-element.elementor-element-9d88837>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-74 .elementor-element.elementor-element-b8a8b37 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-de598df {color: #fff;}
.elementor-74 .elementor-element.elementor-element-de598df>.elementor-widget-container {margin: 0;padding: 0;}
.elementor-74 .elementor-element.elementor-element-6724539 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-6724539>.elementor-widget-container {margin: 0;padding: 0;}
.elementor-74 .elementor-element.elementor-element-222ef1e:not(.elementor-motion-effects-element-type-background), .elementor-74 .elementor-element.elementor-element-222ef1e>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-222ef1e {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-74 .elementor-element.elementor-element-222ef1e>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-74 .elementor-element.elementor-element-1497108 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-8120b90 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-8120b90>.elementor-widget-container {margin: 0;padding: 0 0 0 100px;}
.elementor-74 .elementor-element.elementor-element-d6f785b {color: #fff;}
.elementor-74 .elementor-element.elementor-element-d6f785b>.elementor-widget-container {margin: 0;padding: 0 0 0 150px;}
.elementor-74 .elementor-element.elementor-element-29bfa464>.elementor-shape-top .elementor-shape-fill {fill: #0085ba;}
.elementor-74 .elementor-element.elementor-element-29bfa464>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-74 .elementor-element.elementor-element-23cd1d2d {text-align: center;}
.elementor-74 .elementor-element.elementor-element-23cd1d2d.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-23cd1d2d>.elementor-widget-container {padding: 20px 0 0;}
.elementor-74 .elementor-element.elementor-element-6839beb6>.elementor-shape-bottom .elementor-shape-fill {fill: #0085ba;}
.elementor-74 .elementor-element.elementor-element-6839beb6>.elementor-shape-bottom svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-74 .elementor-element.elementor-element-d1bfd2:not(.elementor-motion-effects-element-type-background), .elementor-74 .elementor-element.elementor-element-d1bfd2>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-d1bfd2 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 0;}
.elementor-74 .elementor-element.elementor-element-d1bfd2>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-74 .elementor-element.elementor-element-5927984 {text-align: center;}
.elementor-74 .elementor-element.elementor-element-1625eb98:not(.elementor-motion-effects-element-type-background), .elementor-74 .elementor-element.elementor-element-1625eb98>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #fff;}
.elementor-74 .elementor-element.elementor-element-1625eb98 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 0 0;}
.elementor-74 .elementor-element.elementor-element-1625eb98>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-74 .elementor-element.elementor-element-1625eb98>.elementor-shape-top .elementor-shape-fill {fill: #0085ba;}
.elementor-74 .elementor-element.elementor-element-1625eb98>.elementor-shape-top svg {width: calc(300% + 1.3px);height: 500px;}
.elementor-74 .elementor-element.elementor-element-6ce5f7d2.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-6ce5f7d2>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-7b27cf07 {text-align: center;}
.elementor-74 .elementor-element.elementor-element-7b27cf07.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-7b27cf07>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-1db94ae9 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-1db94ae9>.elementor-widget-container {margin: 0;padding: 0;}
.elementor-74 .elementor-element.elementor-element-74b54b8c {text-align: center;}
.elementor-74 .elementor-element.elementor-element-74b54b8c.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-74b54b8c>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-122cba2b .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-6b5b2713:not(.elementor-motion-effects-element-type-background), .elementor-74 .elementor-element.elementor-element-6b5b2713>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #bcc1c6;}
.elementor-74 .elementor-element.elementor-element-6b5b2713 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 0;}
.elementor-74 .elementor-element.elementor-element-6b5b2713>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-74 .elementor-element.elementor-element-6b5b2713>.elementor-shape-top .elementor-shape-fill {fill: #fff;}
.elementor-74 .elementor-element.elementor-element-6b5b2713>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-74 .elementor-element.elementor-element-4891be28.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-4891be28>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-4744706a {text-align: center;}
.elementor-74 .elementor-element.elementor-element-4744706a.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-4744706a>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-2cac5157 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-2cac5157 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-602b881f {text-align: center;}
.elementor-74 .elementor-element.elementor-element-602b881f.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-602b881f>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-1786b757 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-1786b757 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-e8e632f {text-align: center;}
.elementor-74 .elementor-element.elementor-element-e8e632f.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-e8e632f>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-eef29b2 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-eef29b2 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-1e90f83:not(.elementor-motion-effects-element-type-background), .elementor-74 .elementor-element.elementor-element-1e90f83>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #fff;}
.elementor-74 .elementor-element.elementor-element-1e90f83 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 0;}
.elementor-74 .elementor-element.elementor-element-1e90f83>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-74 .elementor-element.elementor-element-1e90f83>.elementor-shape-top .elementor-shape-fill {fill: #bcc1c6;}
.elementor-74 .elementor-element.elementor-element-1e90f83>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-74 .elementor-element.elementor-element-40b2fae8.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-30e2ac3 {text-align: center;}
.elementor-74 .elementor-element.elementor-element-30e2ac3.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-30e2ac3>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-4db0bf28 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-322620b1 {text-align: center;}
.elementor-74 .elementor-element.elementor-element-322620b1.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-322620b1>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-2eea74fb .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-804b423 {text-align: center;}
.elementor-74 .elementor-element.elementor-element-804b423.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-804b423>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-1924d632 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-2f5fcb6d:not(.elementor-motion-effects-element-type-background), .elementor-74 .elementor-element.elementor-element-2f5fcb6d>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #bcc1c6;}
.elementor-74 .elementor-element.elementor-element-2f5fcb6d {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 0;}
.elementor-74 .elementor-element.elementor-element-2f5fcb6d>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-74 .elementor-element.elementor-element-2f5fcb6d>.elementor-shape-top .elementor-shape-fill {fill: #fff;}
.elementor-74 .elementor-element.elementor-element-2f5fcb6d>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-74 .elementor-element.elementor-element-3dcee9b3.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-1416d93 .elementor-text-editor {text-align: left;}
.elementor-74 .elementor-element.elementor-element-1416d93 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-20bfa2cf {text-align: center;}
.elementor-74 .elementor-element.elementor-element-20bfa2cf.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-20bfa2cf>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-8bcf561 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-8bcf561 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-133f9b25 {text-align: center;}
.elementor-74 .elementor-element.elementor-element-133f9b25.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-133f9b25>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-7fa59a6 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-7fa59a6 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-3e2a64a5 {text-align: center;}
.elementor-74 .elementor-element.elementor-element-3e2a64a5.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-3e2a64a5>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-3f88c56 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-3f88c56 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-22f1cb4 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-21ed6f4:not(.elementor-motion-effects-element-type-background), .elementor-74 .elementor-element.elementor-element-21ed6f4>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #fff;}
.elementor-74 .elementor-element.elementor-element-21ed6f4 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 30px;}
.elementor-74 .elementor-element.elementor-element-21ed6f4>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-74 .elementor-element.elementor-element-21ed6f4>.elementor-shape-top .elementor-shape-fill {fill: #bcc1c6;}
.elementor-74 .elementor-element.elementor-element-21ed6f4>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-74 .elementor-element.elementor-element-4bde73b.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-4bde73b>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-50734f09 {text-align: center;}
.elementor-74 .elementor-element.elementor-element-50734f09.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-50734f09>.elementor-widget-container {padding: 0;}
.elementor-74 .elementor-element.elementor-element-12590d2f .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-6359251c:not(.elementor-motion-effects-element-type-background), .elementor-74 .elementor-element.elementor-element-6359251c>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #bcc1c6;}
.elementor-74 .elementor-element.elementor-element-6359251c {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 0;}
.elementor-74 .elementor-element.elementor-element-6359251c>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-74 .elementor-element.elementor-element-6359251c>.elementor-shape-top .elementor-shape-fill {fill: #fff;}
.elementor-74 .elementor-element.elementor-element-6359251c>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-74 .elementor-element.elementor-element-6359251c>.elementor-shape-bottom .elementor-shape-fill {fill: #0085ba;}
.elementor-74 .elementor-element.elementor-element-6359251c>.elementor-shape-bottom svg {width: calc(300% + 1.3px);height: 500px;}
.elementor-74 .elementor-element.elementor-element-4b8d4bc8.elementor-widget-heading .elementor-heading-title {color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-5fec3c78 .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-5fec3c78 {color: #fff;}
.elementor-74 .elementor-element.elementor-element-56e1cdb .elementor-text-editor {text-align: center;}
.elementor-74 .elementor-element.elementor-element-2a676e7c:not(.elementor-motion-effects-element-type-background), .elementor-74 .elementor-element.elementor-element-2a676e7c>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #0085ba;}
.elementor-74 .elementor-element.elementor-element-2a676e7c {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-74 .elementor-element.elementor-element-2a676e7c>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-74 .elementor-element.elementor-element-24cbbe7b>.elementor-widget-container {padding: 0 0 20px;}
@media (max-width:1024px) {.elementor-74 .elementor-element.elementor-element-b8a8b37>.elementor-widget-container {padding: 0;}
	.elementor-74 .elementor-element.elementor-element-de598df>.elementor-widget-container {padding: 0 0 0 55px;}
	.elementor-74 .elementor-element.elementor-element-73949c6>.elementor-element-populated {margin: 0;}
	.elementor-74 .elementor-element.elementor-element-6724539>.elementor-widget-container {padding: 0 0 0 90px;}
	.elementor-74 .elementor-element.elementor-element-6839beb6 {padding: 0 25px;}
	.elementor-74 .elementor-element.elementor-element-1625eb98 {padding: 25px 37px 0 40px;}
	.elementor-74 .elementor-element.elementor-element-7b27cf07 {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-7b27cf07>.elementor-widget-container {margin: 0;padding: 0;}
	.elementor-74 .elementor-element.elementor-element-74b54b8c {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-74b54b8c>.elementor-widget-container {margin: 0;padding: 0;}
	.elementor-74 .elementor-element.elementor-element-6b5b2713 {padding: 25px 37px 0 40px;}
	.elementor-74 .elementor-element.elementor-element-4744706a {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-4744706a>.elementor-widget-container {margin: 0;padding: 0;}
	.elementor-74 .elementor-element.elementor-element-602b881f {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-602b881f>.elementor-widget-container {margin: 0;padding: 0;}
	.elementor-74 .elementor-element.elementor-element-e8e632f {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-e8e632f>.elementor-widget-container {margin: 0;padding: 0;}
	.elementor-74 .elementor-element.elementor-element-1e90f83>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
	.elementor-74 .elementor-element.elementor-element-1e90f83 {padding: 25px 37px 0 40px;}
	.elementor-74 .elementor-element.elementor-element-30e2ac3 {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-30e2ac3>.elementor-widget-container {margin: 0;padding: 0;}
	.elementor-74 .elementor-element.elementor-element-4db0bf28>.elementor-widget-container {padding: 0;}
	.elementor-74 .elementor-element.elementor-element-322620b1 {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-322620b1>.elementor-widget-container {padding: 0;}
	.elementor-74 .elementor-element.elementor-element-2eea74fb>.elementor-widget-container {padding: 0;}
	.elementor-74 .elementor-element.elementor-element-804b423 {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-804b423>.elementor-widget-container {padding: 0;}
	.elementor-74 .elementor-element.elementor-element-2f5fcb6d>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
	.elementor-74 .elementor-element.elementor-element-2f5fcb6d {padding: 25px 37px 0 40px;}
	.elementor-74 .elementor-element.elementor-element-20bfa2cf {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-20bfa2cf>.elementor-widget-container {padding: 0;}
	.elementor-74 .elementor-element.elementor-element-133f9b25 {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-133f9b25>.elementor-widget-container {padding: 0;}
	.elementor-74 .elementor-element.elementor-element-3e2a64a5 {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-3e2a64a5>.elementor-widget-container {padding: 0;}
	.elementor-74 .elementor-element.elementor-element-21ed6f4>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
	.elementor-74 .elementor-element.elementor-element-21ed6f4 {padding: 25px 37px 0 40px;}
	.elementor-74 .elementor-element.elementor-element-50734f09 {text-align: center;}
	.elementor-74 .elementor-element.elementor-element-50734f09>.elementor-widget-container {padding: 0;}
	.elementor-74 .elementor-element.elementor-element-6359251c>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
	.elementor-74 .elementor-element.elementor-element-6359251c>.elementor-shape-bottom svg {width: calc(300% + 1.3px);height: 500px;}
	.elementor-74 .elementor-element.elementor-element-6359251c {padding: 25px 37px 0 40px;}
	.elementor-74 .elementor-element.elementor-element-56e1cdb .elementor-text-editor {text-align: left;}}
@media (max-width:767px) {.elementor-74 .elementor-element.elementor-element-de598df>.elementor-widget-container {padding: 0;}
	.elementor-74 .elementor-element.elementor-element-6724539>.elementor-widget-container {padding: 0;}}