.elementor-bc-flex-widget .elementor-866 .elementor-element.elementor-element-bbaca1a.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-866 .elementor-element.elementor-element-bbaca1a.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-866 .elementor-element.elementor-element-d05bb28 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-d05bb28 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-1b65758 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-64f54227:not(.elementor-motion-effects-element-type-background), .elementor-866 .elementor-element.elementor-element-64f54227>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-64f54227 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-866 .elementor-element.elementor-element-64f54227>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-866 .elementor-element.elementor-element-4b7e19b7 {color: #fff;}
.elementor-866 .elementor-element.elementor-element-142e465a {color: #fff;}
.elementor-866 .elementor-element.elementor-element-142e465a>.elementor-widget-container {margin: 0;padding: 0;}
.elementor-866 .elementor-element.elementor-element-5df9fc5c {color: #fff;}
.elementor-866 .elementor-element.elementor-element-5df9fc5c>.elementor-widget-container {margin: 0;padding: 0;}
.elementor-866 .elementor-element.elementor-element-76f7019a:not(.elementor-motion-effects-element-type-background), .elementor-866 .elementor-element.elementor-element-76f7019a>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-76f7019a {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-866 .elementor-element.elementor-element-76f7019a>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-866 .elementor-element.elementor-element-1c14eb0c {color: #fff;}
.elementor-866 .elementor-element.elementor-element-270361df {color: #fff;}
.elementor-866 .elementor-element.elementor-element-270361df>.elementor-widget-container {margin: 0;padding: 0 0 0 100px;}
.elementor-866 .elementor-element.elementor-element-6a875e0e {color: #fff;}
.elementor-866 .elementor-element.elementor-element-6a875e0e>.elementor-widget-container {margin: 0;padding: 0 0 0 150px;}
.elementor-866 .elementor-element.elementor-element-0fbe0ed>.elementor-shape-top .elementor-shape-fill {fill: #0085ba;}
.elementor-866 .elementor-element.elementor-element-0fbe0ed>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-866 .elementor-element.elementor-element-8b17344 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-8b17344 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-8b17344>.elementor-widget-container {padding: 20px 0 0;}
.elementor-866 .elementor-element.elementor-element-c189628>.elementor-shape-bottom .elementor-shape-fill {fill: #0085ba;}
.elementor-866 .elementor-element.elementor-element-c189628>.elementor-shape-bottom svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-866 .elementor-element.elementor-element-16ff9e7:not(.elementor-motion-effects-element-type-background), .elementor-866 .elementor-element.elementor-element-16ff9e7>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-16ff9e7 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 0;}
.elementor-866 .elementor-element.elementor-element-16ff9e7>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-866 .elementor-element.elementor-element-250200c {text-align: center;}
.elementor-866 .elementor-element.elementor-element-13a59bb4:not(.elementor-motion-effects-element-type-background), .elementor-866 .elementor-element.elementor-element-13a59bb4>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #fff;}
.elementor-866 .elementor-element.elementor-element-13a59bb4 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 0 0;}
.elementor-866 .elementor-element.elementor-element-13a59bb4>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-866 .elementor-element.elementor-element-13a59bb4>.elementor-shape-top .elementor-shape-fill {fill: #0085ba;}
.elementor-866 .elementor-element.elementor-element-13a59bb4>.elementor-shape-top svg {width: calc(300% + 1.3px);height: 500px;}
.elementor-866 .elementor-element.elementor-element-2ff09839 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-2ff09839>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-dff60b8 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-dff60b8 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-dff60b8>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-50e5846 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-320ad35 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-320ad35 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-320ad35>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-9717a6c .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-c3b37dd:not(.elementor-motion-effects-element-type-background), .elementor-866 .elementor-element.elementor-element-c3b37dd>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #bcc1c6;}
.elementor-866 .elementor-element.elementor-element-c3b37dd {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 0;}
.elementor-866 .elementor-element.elementor-element-c3b37dd>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-866 .elementor-element.elementor-element-c3b37dd>.elementor-shape-top .elementor-shape-fill {fill: #fff;}
.elementor-866 .elementor-element.elementor-element-c3b37dd>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-866 .elementor-element.elementor-element-f332b4b .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-f332b4b>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-ffccc0a .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-23e42b1 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-23e42b1 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-23e42b1>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-0a41771 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-83fbe52 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-83fbe52 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-83fbe52>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-df53d52 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-3b71cd4b:not(.elementor-motion-effects-element-type-background), .elementor-866 .elementor-element.elementor-element-3b71cd4b>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #fff;}
.elementor-866 .elementor-element.elementor-element-3b71cd4b {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 0;}
.elementor-866 .elementor-element.elementor-element-3b71cd4b>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-866 .elementor-element.elementor-element-3b71cd4b>.elementor-shape-top .elementor-shape-fill {fill: #bcc1c6;}
.elementor-866 .elementor-element.elementor-element-3b71cd4b>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-866 .elementor-element.elementor-element-16959199 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-9beee52 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-46a9b71 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-46a9b71 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-46a9b71>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-30be8b0 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-0e76db4 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-0e76db4 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-0e76db4>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-d5cb2b4 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-24a8c40 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-24a8c40 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-24a8c40>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-c535bef .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-6552be1b:not(.elementor-motion-effects-element-type-background), .elementor-866 .elementor-element.elementor-element-6552be1b>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #bcc1c6;}
.elementor-866 .elementor-element.elementor-element-6552be1b {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 0;}
.elementor-866 .elementor-element.elementor-element-6552be1b>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-866 .elementor-element.elementor-element-6552be1b>.elementor-shape-top .elementor-shape-fill {fill: #fff;}
.elementor-866 .elementor-element.elementor-element-6552be1b>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-866 .elementor-element.elementor-element-7f6a6288 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-b423591 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-044c240 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-044c240 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-044c240>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-e697869 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-b77e05b {text-align: center;}
.elementor-866 .elementor-element.elementor-element-b77e05b .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-b77e05b>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-bc9c821 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-6c1aa38 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-6c1aa38 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-6c1aa38>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-28f5434 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-ea5fb8a {text-align: center;}
.elementor-866 .elementor-element.elementor-element-ea5fb8a .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-ea5fb8a>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-0d3be77 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-d9ca712:not(.elementor-motion-effects-element-type-background), .elementor-866 .elementor-element.elementor-element-d9ca712>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #fff;}
.elementor-866 .elementor-element.elementor-element-d9ca712 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 30px;}
.elementor-866 .elementor-element.elementor-element-d9ca712>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-866 .elementor-element.elementor-element-d9ca712>.elementor-shape-top .elementor-shape-fill {fill: #bcc1c6;}
.elementor-866 .elementor-element.elementor-element-d9ca712>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-866 .elementor-element.elementor-element-10635b94 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-10635b94>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-730c928 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-a6c2e03 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-a6c2e03 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-a6c2e03>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-0c2b4cd .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-810c7dc {text-align: center;}
.elementor-866 .elementor-element.elementor-element-810c7dc .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-810c7dc>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-2e8de4f .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-b58350c {text-align: center;}
.elementor-866 .elementor-element.elementor-element-b58350c .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-b58350c>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-1f7f299 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-f7fa499:not(.elementor-motion-effects-element-type-background), .elementor-866 .elementor-element.elementor-element-f7fa499>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #bcc1c6;}
.elementor-866 .elementor-element.elementor-element-f7fa499 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 10px 0 0;}
.elementor-866 .elementor-element.elementor-element-f7fa499>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-866 .elementor-element.elementor-element-f7fa499>.elementor-shape-top .elementor-shape-fill {fill: #fff;}
.elementor-866 .elementor-element.elementor-element-f7fa499>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
.elementor-866 .elementor-element.elementor-element-f7fa499>.elementor-shape-bottom .elementor-shape-fill {fill: #0085ba;}
.elementor-866 .elementor-element.elementor-element-bd88f4f .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-49aea24 .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-ec8272c {text-align: center;}
.elementor-866 .elementor-element.elementor-element-ec8272c .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-ec8272c>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-09885cb .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-f3efe82 {text-align: center;}
.elementor-866 .elementor-element.elementor-element-f3efe82 .elementor-heading-title {color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-f3efe82>.elementor-widget-container {padding: 0;}
.elementor-866 .elementor-element.elementor-element-63d52aa .elementor-text-editor {text-align: center;}
.elementor-866 .elementor-element.elementor-element-2cee7920:not(.elementor-motion-effects-element-type-background), .elementor-866 .elementor-element.elementor-element-2cee7920>.elementor-motion-effects-container>.elementor-motion-effects-layer {background-color: #0085ba;}
.elementor-866 .elementor-element.elementor-element-2cee7920 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-866 .elementor-element.elementor-element-2cee7920>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-866 .elementor-element.elementor-element-73cc339f>.elementor-widget-container {padding: 0 0 20px;}
@media (max-width:1024px) {.elementor-866 .elementor-element.elementor-element-4b7e19b7>.elementor-widget-container {padding: 0;}
	.elementor-866 .elementor-element.elementor-element-142e465a>.elementor-widget-container {padding: 0 0 0 55px;}
	.elementor-866 .elementor-element.elementor-element-77650127>.elementor-element-populated {margin: 0;}
	.elementor-866 .elementor-element.elementor-element-5df9fc5c>.elementor-widget-container {padding: 0 0 0 90px;}
	.elementor-866 .elementor-element.elementor-element-c189628 {padding: 0 25px;}
	.elementor-866 .elementor-element.elementor-element-13a59bb4 {padding: 25px 0 0 40px;}
	.elementor-866 .elementor-element.elementor-element-dff60b8 {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-dff60b8>.elementor-widget-container {margin: 0;padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-320ad35 {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-320ad35>.elementor-widget-container {margin: 0;padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-c3b37dd {padding: 25px 0 0 40px;}
	.elementor-866 .elementor-element.elementor-element-23e42b1 {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-23e42b1>.elementor-widget-container {margin: 0;padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-83fbe52 {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-83fbe52>.elementor-widget-container {margin: 0;padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-3b71cd4b>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
	.elementor-866 .elementor-element.elementor-element-3b71cd4b {padding: 25px 0 0 40px;}
	.elementor-866 .elementor-element.elementor-element-46a9b71 {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-46a9b71>.elementor-widget-container {margin: 0;padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-0e76db4 {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-0e76db4>.elementor-widget-container {padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-24a8c40 {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-24a8c40>.elementor-widget-container {padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-6552be1b>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
	.elementor-866 .elementor-element.elementor-element-6552be1b {padding: 25px 0 0 40px;}
	.elementor-866 .elementor-element.elementor-element-044c240 {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-044c240>.elementor-widget-container {padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-b77e05b {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-b77e05b>.elementor-widget-container {padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-6c1aa38 {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-6c1aa38>.elementor-widget-container {padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-ea5fb8a {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-ea5fb8a>.elementor-widget-container {padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-d9ca712>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
	.elementor-866 .elementor-element.elementor-element-d9ca712 {padding: 25px 0 0 40px;}
	.elementor-866 .elementor-element.elementor-element-a6c2e03 {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-a6c2e03>.elementor-widget-container {padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-810c7dc {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-810c7dc>.elementor-widget-container {padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-b58350c {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-b58350c>.elementor-widget-container {padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-f7fa499>.elementor-shape-top svg {width: calc(100% + 1.3px);height: 25px;}
	.elementor-866 .elementor-element.elementor-element-f7fa499>.elementor-shape-bottom svg {width: calc(300% + 1.3px);height: 500px;}
	.elementor-866 .elementor-element.elementor-element-f7fa499 {padding: 25px 0 0 40px;}
	.elementor-866 .elementor-element.elementor-element-ec8272c {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-ec8272c>.elementor-widget-container {padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-f3efe82 {text-align: center;}
	.elementor-866 .elementor-element.elementor-element-f3efe82>.elementor-widget-container {padding: 0 37px 0 0;}
	.elementor-866 .elementor-element.elementor-element-63d52aa .elementor-text-editor {text-align: left;}}
@media (max-width:767px) {.elementor-866 .elementor-element.elementor-element-142e465a>.elementor-widget-container {padding: 0;}
	.elementor-866 .elementor-element.elementor-element-5df9fc5c>.elementor-widget-container {padding: 0;}}